<section class="section section-dark radius-top">
  <div class="row menu-wrap">
    <div class="flex-grid">
      <h2 class="row-label col">
        Cardápio
      </h2>
      <div class="row-label-icon col">
        <img class="icon" src="/img/icons.svg#icon-fish" alt="icone peixes">
      </div>
    </div>

    <div class="restaurant-menu-container">
      <a href="/entradas" class="row">
        <div class="menu-item menu-item-first-child">
          <img width="245" src="/img/menu-entradas.png" alt="Entradas">
          <div class="menu-item-label">
            Entradas
          </div>
        </div>
      </a>

      <a href="/pratos-ze-do-cacupe" class="row">
        <div class="menu-item">
          <img width="245" src="/img/menu-pratos-ze-do-cacupe.png" alt="Pratos Zé do Cacupé">
          <div class="menu-item-label">
            Pratos do Zé do Cacupé
          </div>
        </div>
      </a>

      <a href="/acompanhamentos" class="row">
        <div class="menu-item">
          <img width="245" src="/img/menu-acompanhamentos.png" alt="Acompanhamentos">
          <div class="menu-item-label">
            Acompanhamentos
          </div>
        </div>
      </a>

      <a href="/pratos-com-acompanhamento" class="row">
        <div class="menu-item">
          <img width="245" src="/img/menu-sem-guarnicao.png" alt="Pratos com guarnição">
          <div class="menu-item-label">
            Pratos com guarnição
          </div>
        </div>
      </a>

      <a href="/pratos-sem-acompanhamento" class="row">
        <div class="menu-item">
          <img width="245" src="/img/menu-sem-guarnicao.png" alt="Pratos sem guarnição">
          <div class="menu-item-label">
            Pratos sem guarnição
          </div>
        </div>
      </a>

      <a href="/bebidas" class="row">
        <div class="menu-item">
          <img width="245" src="/img/menu-bebidas.png" alt="Bebidas">
          <div class="menu-item-label">
            Bebidas
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
