<div style="" >
  <section class="section section-dark radius-top">
    <div class="row row-margin-top">
      <div class="flex-grid" id="horarios">
        <h2 class="col">
          Horário de funcionamento Natal e Ano Novo
        </h2>
        <div class="row-label-icon col">
          <img class="icon" src="/img/icons.svg#icon-bells" alt="icone de comunicados">
        </div>
      </div>
      <div class="card">
        <div class="flex-grid">
          <div class="col">
            <p>24/12(sexta-feira) das 11:30 às 16:00</p>
            <p>25/12(sábado) fechado</p>
            <p>31/12(sexta-feira) das 11:30 às 16:00</p>
            <p>01/01/2022(sábado) fechado</p>
            <br />
            <p>Desejamos um feliz natal e próspero ano novo para todos os clientes, fornecedores e colaboradores.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
