<div>
  <section class="section section-dark radius-top">
    <div class="row row-margin-top">
      <div class="flex-grid" id="horarios">
        <h2 class="col">
          Horário de funcionamento feriado de independência
        </h2>
        <div class="row-label-icon col">
          <img class="icon" src="/img/icons.svg#icon-bells" alt="icone de comunicados">
        </div>
      </div>
      <div class="card">
        <div class="flex-grid">
          <div class="col">
            <p>06/09/2021(Segunda-feira) - 11:30 às 23:00</p>
            <p>07/09/2021(Terça-feira) - 11:30 às 17:00</p>
            <p>08/09/2021(Quarta-feira) - fechado</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
