<footer class="footer">
  <div class="footer-content">
    <div class="row-flex align-item-vertical-horizontal-center">
      <div class="col-7 footer-copy">
        <img class="icon footer-icon" src="/img/icons.svg#icon-ship" alt="icone estrela do mar"> &nbsp; Zé do Cacupé 2021
      </div>
    </div>
    <img class="footer-pattern" src="/img/bg-pattern-footer.png" alt="Estampa com padrão das toalhas das mensas do Zé do Cacupé">
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/main.js"></script>
