/* #Forms */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.payment-input {
  border: 2px solid #1D1D1D;
  width: 100%;
  font-size: 1.1em;
  padding: 5px;
}
input.footer-input {
  padding: 11px;
  border: 0;
  outline: none;
  border: 0;
  width: 41%;
  -webkit-border-radius: 50px 0 50px 0;
     -moz-border-radius: 50px 0 0 50px;
          border-radius: 50px 0 0 50px;
}
a.button,
.button {
  font-weight: bold;
  background: #053059;
  color: #ffffff;
  padding: 6px 18px;
  text-decoration: none;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
}
a.button:hover,
.button:hover {
  background: #9D1C1F;
  color: #fff;
}
