/* #Forms */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
a.button,
.button {
  font-weight: bold;
  background: #053059;
  color: #ffffff;
  padding: 6px 18px;
  display: inline-block;
  margin: 20px 0;
  text-decoration: none;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
}
a.button:hover,
.button:hover {
  background: #9D1C1F;
  color: #fff;
}
