.border-radius {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.radius-top {
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
     -moz-border-radius-topleft: 30px;
     -moz-border-radius-topright: 30px;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
}
.overflow-hiden {
  overflow: hidden;
}

/* Menu */
.menu-wrap {
  padding-top: 20px;
}
.menu-page-hero {
  position: relative;
  height: 340px;
}
.menu-item-title {
  width: 100%;
  background: #ffffff;
  padding: 10px 20px;
  position: absolute;
  bottom: -30px;
}
.restaurant-menu-container {
  display: flex;
  flex-wrap: nowrap;
  height: 210px;
  overflow-x: auto;
  width: auto;
  margin-right: -37px;
}
.restaurant-menu-container .row .menu-item {
  width: 245px;
  height: 186px;
  margin: 0 0 0 20px;
  position: relative;
}
.menu-item-first-child {
  margin: 0 0 0 0 !important;
}
.menu-item-label {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 8px 15px;
  background: #ffffff;
  color: #131415;
  -webkit-border-radius: 17px;
     -moz-border-radius: 17px;
          border-radius: 17px;
}


.menu-page-list {
  margin: 40px 0;
  padding: 0;
}
.menu-page-list li {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
.menu-item-thumb {
  width: 67px;
  height: 66px;
  border-radius: 50px;
  overflow: hidden;
}
.menu-item-description--number {
  font-weight: bold;
}
