/*!
 * Zé do Cacupe Mobile
 */

@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

body {
	background:#F9F9F9 url(../img/gb_z.png);
	margin:0px;
	font-size:16px;
	font-family: 'Quattrocento Sans', 'Arial',sans-serif;
	font-weight:normal;
	color:#828282;
	line-height:22px;
}

h1,
h2  {
	font-family: 'Quattrocento Sans', 'Arial', sans-serif;
	font-weight:700;
	color:#444;
}

a {
	color:#185daa;
	text-decoration:none;
}

a.fecharSanfona {
	color:#185daa;
	text-decoration:underline;
}

header,
section,
footer {
	width:100%;
}

footer,
section {
	padding-right: 20px;
	padding-left: 20px;
}

/*
 * Cardápio
 * ==================== */
.cardapio {
	background:#EFEFED;
	color:#999;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
}

.duas_colunas {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
}

.sanfonaShow {
	width:90%;
	display:inline-block;
	background:#a3a3a3;
	font-weight:bold;
	color:#fff;
	padding:4px 8px;
}

/*
* Mobile
* =======================*/
@media (max-width: 320px) {

}


/*
* Tablets
* =======================*/
@media (min-width: 320px) and (max-width: 720px) {

}


/*
 * TOP
 * ==================== */

#top {
	background:url(../img/bg_header.jpg) no-repeat;
	background-size:100%;
	width:100%;
	height:165px;
}


/*
 * footer
 * ==================== */

/*
 * Botões
 * ==================== */

.btn {
	background: #0098d2;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align:center;
	letter-spacing: 1px;
	width: 280px;
	box-shadow:1px 1px 4px #444;
	display: inline-block;
	padding: 12px 16px;
	margin-top: 10px;
	border:1px solid #01659f;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.btn-zap {
	background: #23D366;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align:center;
	letter-spacing: 1px;
	width: 280px;
	box-shadow:1px 1px 4px #444;
	display: inline-block;
	padding: 12px 16px;
	margin-top: 10px;
	border:1px solid #0C6628;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.btn-delivery {
	background: #EA1F2C;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align:center;
	letter-spacing: 1px;
	width: 280px;
	box-shadow:1px 1px 4px #444;
	display: inline-block;
	padding: 12px 16px;
	margin-top: 10px;
	border:1px solid #2e0608;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}